.tv-season {
    display: flex;
}

.season__number {
    padding: 0rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}

.season__number.active {
    color: red
}

.season__number:hover {
    color: red
}